<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Sign-up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="/css/SignUp.css" rel="stylesheet" type="text/css" >
</head>
<body>

<div class="loginBox">
    
    <div class="title">SignUp</div>
    <form action="UserSignUp" method="post">
        <div class="fields">
            <div class="username">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    
                </svg>
                <input class="user-input" type="text" placeholder="Choose Your UserName" name="userName" required>
            </div>
            <div class="username">
                <svg class="svg-icon" viewBox="0 0 20 20">
                </svg>
                <input class="user-input" type="email" placeholder="Enter Your email" name="email" required>
            </div>
            <div class="password">
                <svg class="svg-icon" viewBox="0 0 20 20">
                </svg>
                <input class="user-input" type="text" placeholder="Enter Your name" name="name" required>
            </div>
            <div class="password">
                <svg class="svg-icon" viewBox="0 0 20 20">
                   
                </svg>
                <input class="user-input" type="password" placeholder="Enter Your password" name="password" required>
            </div>
            <div class="signin-button">
                <input class="user-input" type="submit" value="Sign Up">
            </div>
        </div>
    </form>
    <a href="">Login</a>

</div>
</body>
</html>